<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Corvallis Tour</title>
  <%= stylesheet_link_tag '//code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css' %>
  <%= stylesheet_link_tag "home", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page" id="page" data-theme="b">
    <div data-role="header">
        <a href="#" id="images-button" class="ui-btn ui-icon-camera ui-btn-icon-notext ui-corner-all ui-btn-left">Images</a>
        <a href="#" id="my-location-button" class="ui-btn ui-icon-gpsloc ui-btn-icon-notext ui-corner-all ui-btn-right">My Location</a>
        <a href="#" id="locations-button" class="ui-btn ui-icon-bullets ui-btn-icon-notext ui-corner-all ui-btn-right">History</a>
      <h1 id="header-text">Corvallis Tour</h1>
    </div>
    <div data-role="content" id="content">
      <div id="map-canvas"></div>
    </div>
    <div data-role="popup" id="popup-images">
      <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
      <img src="#" alt="Image" />
      <p><b></b><br /><br /><span></span></p>
    </div>
    <div data-role="popup" id="popup-locations">
      <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
      <ul id="locations-content" data-role="listview" data-inset="true">
      </ul>
    </div>
  </div>
  <%= javascript_include_tag "home" %>
  <%= javascript_include_tag '//code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= APP_CONFIG['google_maps']['api_key'] %>&amp;sensor=true&amp;callback=initialize_map"></script>

</body>
</html>
